.search {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 5px;
  width: 250px;
  line-height: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  background: #f1f1f1;
  box-shadow: 20px 20px 60px #999999, -20px -20px 60px #ffffff;
}
