.card-container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;

  border-radius: 25px;
  background: rgb(224, 224, 224);
  box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff;
}

h2 {
  color: rgb(255, 0, 64);
}

.card-container:hover {
  transform: scale(1.05);
}
